/* general rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(246,248,249);
}



/* background colors */

.background-white{
    background-color: rgb(255,255,255);
}

.bk-blu{
    background-color: rgb(69,171,234);
}

.bk-purple{
    background-color: rgb(156,114,228);
}

.bk-green{
    background-color: rgb(100,192,169);
}

.bk-orange{
    background-color: rgb(242,158,51);
}

.bk-pink{
    background-color: rgb(216,99,161);
}

.bk-lime{
    background-color: rgb(176,201,38);
}




/* header */

header{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

#logo{
    vertical-align: middle;
}

#header-title{
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}





/* main */

.main-div{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
}





/* main section 1 */

#toolbar{
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 5px;
}

#button{
    color: white;
    background-color: rgb(71,173,241);
    border: 0;
    padding: 5px;
    border-radius: 5px;
}

#input{
    padding: 5px;
    border-color: rgb(197,203,208);
    border-radius: 5px;
    width: 100px;
}





/* main section 2 */

.distance{
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2::before{
    content: "\23F7";
}

.list-general{
    list-style-position: inside;
    font-size: large;
    font-weight: 700;
}

li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 15px;
}

.done{
    content: url(../img/done.png);
    width: 15px;
}

.not-done{
    content: url(../img/not-done.png);
    width: 15px;
}

.label{
    border-radius: 15px;
    color: white;
    font-size: 10px;
    padding: 5px;
}